<div class="content__team">
  <div class="team__tittle">Porque Elegirnos</div>
  <div class="border"></div>
  <div class="content__info">
    <div class="container__team">
      <div class="image">
        <img src="../../../assets/people.png" alt="" />
      </div>
      <div class="container__text">
        <div class="container__tittle">
          <div class="tittle">Equipo</div>
        </div>
        <p class="paragraph">
          Contamos con especialistas jóvenes, que se innovan cada día, para
          brindar una mejor atención.
        </p>
      </div>
    </div>

    <div class="container__team">
      <div class="image">
        <img src="../../../assets/medi.png" alt="" />
      </div>
      <div class="container__text">
        <div class="container__tittle">
          <div class="tittle">Paciencia</div>
        </div>
        <p class="paragraph">Nuestra mejor virtud es la paciencia.</p>
      </div>
    </div>

    <div class="container__team">
      <div class="image">
        <img src="../../../assets/promo.png" alt="" />
      </div>
      <div class="container__text">
        <div class="container__tittle">
          <div class="tittle">Promociones</div>
        </div>
        <p class="paragraph">
          Contamos con promociones y descuentos todos los meses y premiamos tu
          fidelidad.
        </p>
      </div>
    </div>
  </div>
</div>
