.container__specialties {
  width: 100%;
  background-color: #f7fafb;
  margin: 0 auto;
  padding-top: 3rem;
}
.content_border {
  width: 90%;
  margin: 0 auto;
}
.service__tittle {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  font-family: "Readex Pro", sans-serif;
  font-size: 2rem;
  color: #338b85;
  padding-bottom: 0.9rem;
}
.border {
  background-color: rgb(8, 160, 160);
  display: flex;
  justify-content: flex-start;
  font-family: "Readex Pro", sans-serif;
  padding-bottom: 2px;
  width: 285px;
}

.content__img {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}
li {
  list-style: none;
}
.image {
  width: 50%;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  background-position: center;
  background-image: linear-gradient(
      to left,
      rgb(0 0 0 / 0.1),
      rgba(39, 186, 196, 0.51)
    ),
    url(../../../assets/lab.jpg);
  border-radius: 0.8rem;
}
.paragrahp {
  width: 50%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 2rem;
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  flex-direction: column;
  line-height: 2.3rem;
  color: #666666;
  font-family: "Readex Pro", sans-serif;
}
.container__social {
  font-size: 1rem;
  border-radius: 2rem;
  background: #25d366;
  padding: 0.7rem 0.1rem;
  top: 35rem;
  right: 1.4rem;
  position: fixed;
  z-index: 20;
  border-radius: 50%;
}
.container__social a {
  text-decoration: none;
  color: #ffff;
}
.container__social__img {
  display: flex;
  align-items: center;
}
.container__social__img img {
  width: 56px;
  padding: 0 0.7rem;
}
.container__social:hover {
  background: #06be4a;
}

@media screen and (max-width: 820px) {
  .container__social {
    top: 40rem;
  }
  .container__social {
    top: 28rem;
  }
}

@media screen and (max-width: 1080px) {
  .container__specialties {
    margin-top: 0rem;
  }
  .tittle {
    line-height: 3rem;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
  .container__specialties {
    margin-top: 0rem;
  }
}

@media screen and (max-width: 820px) {
  .container__specialties {
    margin-top: 0rem;
  }

  .content__img {
    flex-direction: column;
    height: auto;
    padding: 3rem 0;
  }
  .image {
    width: 100%;
    height: 50vh;
  }
  .paragrahp {
    width: 90%;
    margin: 0 auto;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
  }
  li {
    list-style: none;
  }
}
