<app-top-bar-menu></app-top-bar-menu>
<div class="container__specialties">
  <div class="cont">
    <div class="content_border">
      <div class="service__tittle">Laboratorio clínico:</div>
      <div class="border"></div>
    </div>
  </div>
  <div class="content__img">
    <div class="image"></div>
    <div class="paragrahp">
      <li>Hematología</li>
      <li>Química sanguínea</li>
      <li>Exámenes hormonales</li>
      <li>TORCH</li>
      <li>Perfil de enfermedades de transmisión sexual</li>
      <li>Biopsia</li>
      <li>Pruebas de anticuerpos</li>
      <li>Electrólitos</li>
      <li>Exámenes de coagulación</li>
      <li>Enzimas</li>
      <li>Uroanálisis</li>
      <li>Heces</li>
      <li>Bacteriología</li>
      <li>Serología</li>
      <li>Histopatología</li>
      <li>Marcadores tumorales</li>
      <li>Inmunología</li>
      <li>Drogas</li>
    </div>
  </div>
</div>

<div class="container__text">
  <div class="container__social">
    <div class="container__social__img">
      <a target="_blank" href="https://wa.me/593997115508"
        ><img src="../../../assets/what.png" alt=""
      /></a>
    </div>
  </div>
</div>
