<div class="content__footer">
  <div class="content__text">
    <div class="image">
      <img src="../../../assets/logohd-removebg-preview.png" alt="" />
    </div>
    <div class="cont__text-social">
      <div class="container__texts__social">
        <div class="tittle">Dirección</div>
        <div class="content__direction">
          <p>Sector Quitumbe, Av. Rumichaca Ñan, Conjuntos “Sol del Sur”.</p>
          <p>Local número 5.</p>
          <p>Correo electrónico: cmvidamedig2021@outlook.com</p>
          <p>Telf.: 0997115508/0986912270</p>
          <p>QUITO- ECUADOR</p>
        </div>
      </div>
      <div class="container__social">
        <div class="social">
          <a
            target="_blank"
            href="https://www.facebook.com/centromedicovidamedig"
            ><img src="../../../assets/Facebook_Logo_(2019).png" alt=""
          /></a>
          <a target="_blank" href="https://www.instagram.com/vidamedig/"
            ><img src="../../../assets/Instagram_logo_2022.svg" alt=""
          /></a>
          <a target="_blank" href="https://www.tiktok.com/@cmvidamedig"
            ><img src="../../../assets/unnamed.png" alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Terms and Conditions | @bryanzp99</p>
    <p>© 2022 CENTRO MÉDICO VIDAMEDIG. All rights reserved.</p>
  </div>
</div>
