<div class="content__footer">
  <div class="content__text">
    <div class="image">
      <img src="../../../assets/logo2.0.png" alt="" />
    </div>
    <div class="cont__text-social">
      <div class="container__texts__social">
        <div class="tittle">Dirección</div>
        <div class="content__direction">
          Sector Quitumbe, Av. Rumichaca Ñan, Conjuntos “Sol del Sur” Local
          número 5. cmvidamedig2021@outlook.com Telf.: 0997115508/0986912270
          QUITO- ECUADOR
        </div>
      </div>
      <div class="container__social">
        <div class="social">
          <a href=""
            ><img src="../../../assets/Facebook_Logo_(2019).png" alt=""
          /></a>
          <a href=""
            ><img src="../../../assets/Instagram_logo_2022.svg" alt=""
          /></a>
          <a href=""
            ><img
              src="../../../assets/unnamed.png"
              alt=""
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Terms and Conditions</p>
    <p>© 2022 CENTRO MÉDICO VIDAMEDIG. All rights reserved.</p>
  </div>
</div>
