<!-- <div class="container-carrusel1">
  <div class="container__text">
    <div class="animated-title">
      <div class="text-top">
        <div>
          <span>Especialidad1</span>
          <span
            >Lorem ipsum es el texto que se usa habitualmente en diseño gráfico
            en demostraciones de tipografías o de borradores de diseño para
            probar el diseño</span
          >
        </div>
      </div>
      <div class="text-bottom">
        <div>BOTON</div>
      </div>
    </div>
  </div>
</div> -->
