<app-top-bar></app-top-bar>
<div class="container-carrusel">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
    id="carouselExampleControls"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner" class="container-carrusel-img">
      <div class="carousel-item  active container-carrusel1" ></div>
      <div class="carousel-item container-carrusel2"></div>
      <div class="carousel-item container-carrusel3"></div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div>
    <div class="container__text">
      <div class="animated-title">
        <div class="text-top">
          <div>
            <span>Calidad, calidez e innovación</span>
            <span
              >Nuestro objetivo es brindar atención de calidad, y sobre
              caracterizarnos por la paciencia prestada hacia los pacientes y
              encontrarán un espacio en el que se puedan sentir confianza, y
              sobre todo calidad en nuestros profesionales</span
            >
          </div>
        </div>
        <div class="text-bottom">
          <a target="_blank" href="https://wa.me/593997115508"
            ><button class="button_text">Agendar Cita</button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container__text">
  <div class="container__social">
    <div class="container__social__img">
      <a target="_blank" href="https://wa.me/593997115508"
        ><img src="../../../assets/what.png" alt=""
      /></a>
    </div>
  </div>
</div>

<app-medi-service></app-medi-service>
<app-mediteam></app-mediteam>
