<app-top-bar-menu></app-top-bar-menu>

<div class="history__container">
  <div class="container__specialties">
    <div class="content__img">
      <div class="tittle">ACERCA DE NOSOTROS</div>
    </div>

    <div class="container__cards"></div>
  </div>
  <div class="container__text">
    <p>ACERCA DE NOSOTROS</p>
    <div class="border"></div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industrys standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the
    </p>
  </div>
  <hr />
  <div class="container__history">
    <div class="container__mision">
      <img src="../../../assets/imagen1.jpeg" alt="" />
      <div class="container__tittle">
        <p>MISIÓN</p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industrys standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
    <div class="container__vision">
      <div class="container__tittle">
        <p>VISIÓN</p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industrys standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to
        </p>
      </div>
      <img src="../../../assets/imagen4.jpeg" alt="" />
    </div>
  </div>
</div>

<div class="container__text">
  <div class="container__social">
    <div class="container__social__img">
      <a target="_blank" href="https://wa.me/593997115508"
        ><img src="../../../assets/what.png" alt=""
      /></a>
    </div>
  </div>
</div>
