<app-top-bar-menu></app-top-bar-menu>

<div class="history__container">
  <div class="container__specialties">
    <div class="content__img">
      <div class="tittle">ACERCA DE NOSOTROS</div>
    </div>

    <div class="container__cards"></div>
  </div>
  <div class="container__text">
    <p>ACERCA DE NOSOTROS</p>
    <div class="border"></div>
    <p>
      Nuestro objetivo es brindar atención de calidad, nos caracterizarnos por
      la paciencia prestada hacia los pacientes, encontrarán un espacio en el
      que puedan sentir confianza y sobre todo calidad en nuestros
      profesionales.
    </p>
  </div>
  <hr />
  <div class="container__history">
    <div class="container__mision">
      <img src="../../../assets/imagen1.jpeg" alt="" />
      <div class="container__tittle">
        <p>MISIÓN</p>
        <p>
          Brindar atención medica de calidad, con recursos especializados e
          innovándonos a la vanguardia de la ciencia; fomentando en su personal
          la paciencia, humanismo y excelencia para lograr la satisfacción del
          paciente ante cada tratamiento.
        </p>
      </div>
    </div>
    <div class="container__vision">
      <div class="container__tittle">
        <p>VISIÓN</p>
        <p>
          Ser el Centro Médico líder en atención de alta especialidad; que
          responda con sentido humanista a las necesidades del usuario, a través
          de la innovacion, excelencia y mejora continua.
        </p>
      </div>
      <img src="../../../assets/imagen2.jpeg" alt="" />
    </div>
  </div>
</div>

<div class="container__text">
  <div class="container__social">
    <div class="container__social__img">
      <a target="_blank" href="https://wa.me/593997115508"
        ><img src="../../../assets/what.png" alt=""
      /></a>
    </div>
  </div>
</div>
