<div class="card__container">
  <div class="content_card">
    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/3.jpeg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Odontología</div>
          <p class="content__subtittle">
            <li>Endodoncia</li>
            <li>Ortodoncia</li>
            <li>Odontopediatría</li>
            <li>Cirugía de terceros molares</li>
            <li>Rehabilitación oral</li>
            <li>Prótesis dentales</li>
            <li>Coronas</li>
            <li>Odontología general</li>
            <li>Bichectomía</li>
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/traumatologia.webp"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Traumatología</div>
          <p class="content__subtittle">
            <li>Ortopedia</li>
            <li>Cirugía de traumas complejos</li>
            <li>Infiltraciones</li>
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/cardiologia.jpg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Cardiología</div>
          <p class="content__subtittle">
            <li>Ecocardiograma</li>
            <li>Electrocardiograma</li>
            <li>Monitoreo mapa</li>
            <li>Insuficiencia cardiaca</li>
            <li>Arritmias cardiacas</li>
            <li>Valvulopatías</li>
            <li>Cardiopatías</li>
            <li>Isquémica</li>
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/23.jpeg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Fisioterapia</div>
          <p class="content__subtittle">
            <li>Magnetoterapia</li>
            <li>Electroterapia</li>
            <li>Mecanoterapia</li>
            <li>Terapia manual</li>
            <li>Masaje Terapéutico</li>
            <li>Reeducación de la marcha</li>
            <li>Rehabilitación respiratoria</li>
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/pscicologia.jpg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Psicología</div>
          <p class="content__subtittle">
            <li>Psicología infantil</li>
            <li>Evaluaciones Psicológicas</li>
            <li>Terapia de pareja</li>
            <li>Terapia con adolescentes</li>
            <li>Terapia de lenguaje</li>
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/Endocrinologia.jpg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Endocrinología</div>
          <p class="content__subtittle">
            <li>Diabetes</li>
            <li>Hipotiroidismo</li>
            <li>Cáncer de tiroides</li>
            <li>Síndrome de ovario poliquístico</li>
            <li>Síndrome metabólico</li>
            <li>Osteoporosis</li>
            <li>Talla baja</li>
            <li>Talla alta</li>
            <li>Talla alta</li>
            <li>Infertilidad</li>
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/dermatologia.jpg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Dermatología</div>
          <p class="content__subtittle">
            <li>Enfermedades infecciosas de la piel</li>
            <li>Onicomicosis</li>
            <li>Psoriasis</li>
            <li>Liquen plano, escleroso, atrófico</li>
            <li>Melasma, cloasma</li>
            <li>Acné juvenil y adultos</li>
            <li>Cáncer de piel</li>
            <li>Extracción de lunares</li>
            <li>Alopecia</li>
            <li>Dermatitis seborreica (caspa)</li>
            <li>Rosáceas</li>
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/nutricion.jpg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Nutrición</div>
          <p class="content__subtittle">
            <li>Sobre peso y obesidad</li>
            <li>Diabetes</li>
            <li>Colesterol y triglicéridos elevados</li>
            <li>Nutrición en niñez y adolescencia</li>
            <li>Nutrición en el embarazo y postparto</li>
            <li>Veganismo y vegetarianismo</li>
            <li>Nutrición deportiva</li>
            <li>Charlas educativas</li>
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/ginecologia.jpg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Ginecología y obstetricia</div>
          <p class="content__subtittle">
            <li>Control prenatal, postparto</li>
            <li>Infecciones de transmisión sexual</li>
            <li>Infecciones de la mujer</li>
            <li>Planificación familiar</li>
            <li>Métodos anticonceptivos</li>
            <li>Climaterio y menopausia</li>
            <li>Ejercicios en el embarazo</li>
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/urologia.jpg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Urología</div>
          <p class="content__subtittle"></p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/neurologia.jpg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Neurología</div>
          <p class="content__subtittle"></p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/medicinaocu.jpg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Medicina ocupacional</div>
          <p class="content__subtittle"></p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/medicinafami.jpg"
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Medicina familiar</div>
          <p class="content__subtittle"></p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/gediat.jpg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Geriatría</div>
          <p class="content__subtittle"></p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/cirugiageneral.jpg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Cirugía general</div>
          <p class="content__subtittle"></p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img
            mat-card-image
            loading="lazy"
            src="../../../assets/parto.jpg"
            alt=""
          />
        </div>
        <mat-card-content>
          <div class="content__tittle">Parto Y Cesárea</div>
          <p class="content__subtittle"></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container__text">
  <div class="container__social">
    <div class="container__social__img">
      <a target="_blank" href="https://wa.me/593997115508"
        ><img src="../../../assets/what.png" alt=""
      /></a>
    </div>
  </div>
</div>
