<app-top-bar-menu></app-top-bar-menu>

<!-- <div class="galeria">
  <img src="../../../assets/1.jpeg" alt="" />
  <img src="../../../assets/2.jpeg" alt="" />
  <img src="../../../assets/3.jpeg" alt="" />
  <img src="../../../assets/4.jpeg" alt="" />
  <img src="../../../assets/pizza2.jpg" alt="" />
  <img src="../../../assets/2.jpeg" alt="" />
  <img src="../../../assets/pizza1.jpg" alt="" />
  <img src="../../../assets/4.jpeg" alt="" />
  <img src="../../../assets/pizza3.jpg" alt="" />
  <img src="../../../assets/2.jpeg" alt="" />
  <img src="../../../assets/pizza2.jpg" alt="" />
  <img src="../../../assets/pizza1.jpg" alt="" />
</div>

 -->

<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
  id="carouselExampleControls"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item container-carrusel1 active">
      <p class="text">Ejercicios en el embarazo</p>
    </div>
    <div class="carousel-item container-carrusel2">
      <p class="text">Monitoreo prenatal</p>
    </div>
    <video controls class="carousel-item">
      <source src="../../../assets/36.mp4" type="video/mp4" />
    </video>
    <div class="carousel-item container-carrusel3">
      <p class="text">Restauración molar</p>
    </div>
    <div class="carousel-item container-carrusel5">
      <p class="text">Sorteo camiseta de la selección</p>
    </div>
    <div class="carousel-item container-carrusel6">
      <p class="text">Restauración de calzas</p>
    </div>
    <div class="carousel-item container-carrusel7">
      <p class="text">Endodoncia</p>
    </div>
    <div class="carousel-item container-carrusel8">
      <p class="text">Cardiología</p>
    </div>
    <video controls class="carousel-item">
      <source src="../../../assets/37.mp4" type="video/mp4" />
    </video>
    <div class="carousel-item container-carrusel9">
      <p class="text">Rehabilitación oral</p>
    </div>
    <div class="carousel-item container-carrusel10">
      <p class="text">Medicina general</p>
    </div>
    <div class="carousel-item container-carrusel11">
      <p class="text">Planificación familiar</p>
    </div>
    <div class="carousel-item container-carrusel12">
      <p class="text">Campaña de vacunación</p>
    </div>
    <div class="carousel-item container-carrusel32">
      <p class="text">Odontopediatría</p>
    </div>
    <div class="carousel-item container-carrusel13">
      <p class="text">Extracción de molares</p>
    </div>
    <video controls class="carousel-item">
      <source src="../../../assets/38.mp4" type="video/mp4" />
    </video>
    <div class="carousel-item container-carrusel14">
      <p class="text">Capacitación "Día del ❤️"</p>
    </div>
    <div class="carousel-item container-carrusel16">
      <p class="text">Terapia de lenguaje</p>
    </div>
    <div class="carousel-item container-carrusel17">
      <p class="text">Odontología</p>
    </div>
    <div class="carousel-item container-carrusel18">
      <p class="text">Pediatría</p>
    </div>
    <video controls class="carousel-item">
      <source src="../../../assets/39.mp4" type="video/mp4" />
    </video>
    <div class="carousel-item container-carrusel20">
      <p class="text">Fisioterapía</p>
    </div>
    <div class="carousel-item container-carrusel21">
      <p class="text">Especialistas odontología</p>
    </div>
    <div class="carousel-item container-carrusel23">
      <p class="text">Masaje Terapéutico</p>
    </div>
    <video class="carousel-item" controls>
      <source src="../../../assets/40.mp4" type="video/mp4" />
    </video>
    <div class="carousel-item container-carrusel25">
      <p class="text">Electrocardiograma</p>
    </div>
    <div class="carousel-item container-carrusel26">
      <p class="text">Nutrición</p>
    </div>
    <div class="carousel-item container-carrusel30">
      <p class="text">Pediatría</p>
    </div>
    <div class="carousel-item container-carrusel31">
      <p class="text">Odontopediatría</p>
    </div>

    <div class="carousel-item container-carrusel34">
      <p class="text">Pediatría</p>
    </div>
    <div class="carousel-item container-carrusel35">
      <p class="text">Cirugía de terceros molares</p>
    </div>
    <video class="carousel-item" controls>
      <source src="../../../assets/seleccion.mp4" type="video/mp4" />
    </video>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container__text">
  <div class="container__social">
    <div class="container__social__img">
      <a target="_blank" href="https://wa.me/593989985596"
        ><img src="../../../assets/what.png" alt=""
      /></a>
    </div>
  </div>
</div>
