<app-top-bar-menu></app-top-bar-menu>

<!-- <div class="galeria">
  <img src="../../../assets/1.jpeg" alt="" />
  <img src="../../../assets/2.jpeg" alt="" />
  <img src="../../../assets/3.jpeg" alt="" />
  <img src="../../../assets/4.jpeg" alt="" />
  <img src="../../../assets/pizza2.jpg" alt="" />
  <img src="../../../assets/2.jpeg" alt="" />
  <img src="../../../assets/pizza1.jpg" alt="" />
  <img src="../../../assets/4.jpeg" alt="" />
  <img src="../../../assets/pizza3.jpg" alt="" />
  <img src="../../../assets/2.jpeg" alt="" />
  <img src="../../../assets/pizza2.jpg" alt="" />
  <img src="../../../assets/pizza1.jpg" alt="" />
</div>

 -->

<div
  id="carouselExampleSlidesOnly"
  class="carousel slide"
  data-bs-ride="carousel"
  id="carouselExampleControls"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item container-carrusel1 active"></div>
    <div class="carousel-item container-carrusel2"></div>
    <video controls  class="carousel-item">
      <source src="../../../assets/36.mp4" type="video/mp4" />
    </video>
    <div class="carousel-item container-carrusel3"></div>
    <div class="carousel-item container-carrusel5"></div>
    <div class="carousel-item container-carrusel6"></div>
    <div class="carousel-item container-carrusel7"></div>
    <div class="carousel-item container-carrusel8"></div>
    <video controls  class="carousel-item">
      <source src="../../../assets/37.mp4" type="video/mp4" />
    </video>
    <div class="carousel-item container-carrusel9"></div>
    <div class="carousel-item container-carrusel10"></div>
    <div class="carousel-item container-carrusel11"></div>
    <div class="carousel-item container-carrusel12"></div>
    <div class="carousel-item container-carrusel13"></div>
    <video controls  class="carousel-item">
      <source src="../../../assets/38.mp4" type="video/mp4" />
    </video>
    <div class="carousel-item container-carrusel14"></div>
    <div class="carousel-item container-carrusel15"></div>
    <div class="carousel-item container-carrusel16"></div>
    <div class="carousel-item container-carrusel17"></div>
    <div class="carousel-item container-carrusel18"></div>
    <video controls  class="carousel-item">
      <source src="../../../assets/39.mp4" type="video/mp4" />
    </video>
    <div class="carousel-item container-carrusel19"></div>
    <div class="carousel-item container-carrusel20"></div>
    <div class="carousel-item container-carrusel21"></div>
    <div class="carousel-item container-carrusel22"></div>
    <div class="carousel-item container-carrusel23"></div>
    <div class="carousel-item container-carrusel24"></div>
    <video class="carousel-item" controls >
      <source src="../../../assets/40.mp4" type="video/mp4" />
    </video>
    <div class="carousel-item container-carrusel25"></div>
    <div class="carousel-item container-carrusel26"></div>
    <div class="carousel-item container-carrusel27"></div>
    <div class="carousel-item container-carrusel28"></div>
    <div class="carousel-item container-carrusel29"></div>
    <div class="carousel-item container-carrusel30"></div>
    <div class="carousel-item container-carrusel31"></div>
    <div class="carousel-item container-carrusel32"></div>
    <div class="carousel-item container-carrusel33"></div>
    <div class="carousel-item container-carrusel34"></div>
    <div class="carousel-item container-carrusel35"></div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container__text">
  <div class="container__social">
    <div class="container__social__img">
      <a target="_blank" href="https://wa.me/593989985596"
        ><img src="../../../assets/what.png" alt=""
      /></a>
    </div>
  </div>
</div>
