<div class="container__specialties">
  <div class="contenedor">
    <div class="content__img">
      <div class="tittle">
        Trabajamos para empresas en MEDICINA OCUPACIONAL con grandes descuentos
        incluye:
      </div>
    </div>
    <div class="paragrahp">
      <li>Radiografías (imágenes)</li>
      <li>Exámenes de laboratorio</li>
      <li>Espirometrías</li>
      <li>Audiometrías</li>
      <li>Electrocardiogramas</li>
      <li>Optometrías</li>
      <li>Salud oral</li>
      <li>Desparasitación</li>
      <li>Vacunas</li>
      <li>capacitaciones</li>
    </div>
  </div>
</div>

<app-service-vaccines></app-service-vaccines>