<app-top-bar-menu></app-top-bar-menu>
<div class="container__specialties">
  <div class="content_border">
    <div class="service__tittle">Sueroterapia:</div>
    <div class="border"></div>
  </div>
  <div class="contenedor">
    <div class="content__img">
      <div class="tittle"></div>
    </div>
    <div class="paragrahp">
      <div class="content">
        <div class="first__paragrahp">
          <li>Inmunidad</li>
          <li>Osteoarticular</li>
          <li>Estrés</li>
          <li>Deportistas</li>
          <li>Detox/Drenador</li>
          <li>Pre operatorio</li>
          <li>Post operatorio</li>
          <li>Chuchaqui</li>
          <li>Juventud</li>
          <li>Crecimiento</li>
          <li>Obesidad</li>
          <li>Adelgazamiento</li>
          <li>Fibromialgia</li>
          <li>Hepático</li>
        </div>
        <div class="second__paragrahp">
          <li>Andropausia</li>
          <li>Mejora la libido</li>
          <li>Energía</li>
          <li>MigrañasDigestivo</li>
          <li>Fertilidad</li>
          <li>Depresión, ansiedad, angustia</li>
          <li>Menopausia</li>
          <li>Pre menstrual</li>
          <li>Diabetes</li>
          <li>Tiroides</li>
          <li>Cardiovascular</li>
          <li>Crecimiento muscular</li>
          <li>Caída de cabello</li>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container__text">
  <div class="container__social">
    <div class="container__social__img">
      <a target="_blank" href="https://wa.me/593997115508"
        ><img src="../../../assets/what.png" alt=""
      /></a>
    </div>
  </div>
</div>
