<app-top-bar-menu></app-top-bar-menu>
<div class="contain__promo">
  <div class="cont">
    <div class="content_border">
      <div class="service__tittle">PROMOCIONES DEL MES</div>
      <div class="border"></div>
    </div>
  </div>

  <div class="content_card">
    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img mat-card-image src="../../../assets/promo1.jpeg" alt="" />
        </div>
        <mat-card-content>
          <a><div class="content__tittle">Ginecología y obstetricia</div></a>

          <p class="content__subtittle">
            Eco de mama + eco transvaginal + papanicolaou + examen físico de
            mama + consulta con resultados + profilaxis dental
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img mat-card-image src="../../../assets/promo2.jpeg" alt="" />
        </div>
        <mat-card-content>
          <div class="content__tittle">Medicina general + Odontología</div>
          <p class="content__subtittle">
            Atención en medicina general + exámenes de laboratorio (glucosa,
            examen de orina, bimetría hemática, colesterol + triglicéridos) +
            profilaxis dental
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="container__card">
      <mat-card class="example-card">
        <div class="contenedor">
          <img mat-card-image src="../../../assets/promo3.jpeg" alt="" />
        </div>
        <mat-card-content>
          <div class="content__tittle">Blanqueamiento dental</div>
          <p class="content__subtittle">Blanqueamiento dental 2x1</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="container__text">
  <div class="container__social">
    <div class="container__social__img">
      <a target="_blank" href="https://wa.me/593989985596"
        ><img class="img" src="../../../assets/what.png"
      /></a>
    </div>
  </div>
</div>
