<app-top-bar-menu></app-top-bar-menu>
<div class="container__specialties">
  <div class="cont">
    <div class="content_border">
      <div class="service__tittle">Vacunas:</div>
      <div class="border"></div>
    </div>
  </div>
  <div class="content__img">
    <div class="paragrahp">
      <li>HEXAVALENTE</li>
      <li>HEPATITIS A Y B Y COMBINADA</li>
      <li>VARICELA</li>
      <li>DIFTERIA, TETANOS, TOSFERINA</li>
      <li>ROTAVIRUS</li>
      <li>FIEBRE TIFOIDEA</li>
      <li>RABIA</li>
      <li>MENINGITIS</li>
      <li>INFLUENZA</li>
      <li>SARAMPION, RUBEOLA, PAPERAS</li>
      <li>VIRUS DEL PAPILOMA HUMANO</li>
      <li>NEUMOCOCO</li>
      <li>TETANOS</li>
      <li>BCG</li>
    </div>
    <div class="image"></div>
  </div>
</div>

<div class="container__text">
  <div class="container__social">
    <div class="container__social__img">
      <a target="_blank" href="https://wa.me/593997115508"
        ><img src="../../../assets/what.png" alt=""
      /></a>
    </div>
  </div>
</div>
