<app-top-bar-menu></app-top-bar-menu>
<div class="container__contact">
  <div class="content__img">
    <div class="tittle">CONTACTOS</div>

    <div class="subtittle">
      <p>Nuestro centro médico está listo para atenderte</p>
      <p>citas médicas bajo previa</p>
      <p>nos ajustamos a tu horario de trabajo.</p>
    </div>
    <div class="content__info">
      <p>Teléfonos: 0997115508 /0986912270</p>
      <p>Horarios de atención:</p>
      <p>Lunes a viernes 08:00 a 17:00</p>
      <p>Sábados: 09:00 a 14:00</p>
      <p>Domingos bajo previa cita</p>
    </div>

    <div class="text-bottom">
      <a target="_blank" href="https://wa.me/593997115508"
        ><button class="button_text">Agendar Cita</button></a
      >
    </div>
  </div>
</div>

<div class="container__text">
  <div class="container__social">
    <div class="container__social__img">
      <a target="_blank" href="https://wa.me/593997115508"
        ><img src="../../../assets/what.png" alt=""
      /></a>
    </div>
  </div>
</div>
